* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  font-family: var(--ff);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  /* background-color: var(--bg-color-dark-mode); */
  background-color: #1a1a1a;
}

:root {
  --ff: 'Poppins', sans-serif;
  /* font-weight */
  --fw-thin: 100;
  --fw-x-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-x-bold: 800;
  --fw-black: 900;
  --fs-n: normal;
  --fs-i: italic;
  /* BG Colors */
  --bg-color-dark-mode: hsl(240, 44%, 10%);
  /* Text colors*/
  --text-primary: rgb(213, 248, 249);
  --text-secondary: rgb(153, 228, 244);
  /* Button colors*/
  --btn-one: #6c93aa;
  --btn-one-dark-mode: #7daac4;
  --btn-one-faded-dark-mode: #7daac479;
  --btn-one-light-mode: #32444e;
  --btn-one-faded-light-mode: #192328c7;
  --btn-two-dark-mode: #71d4df82;
  --btn-two-light-mode: #0d2f33c3;
  --btn-three-dark-mode: #7daac4;
  --btn-three-light-mode:#193c4f;
  --btn-scroll-icon: #7daac479;
  /*  --btn-one: #71d4df82; */
  --btn-two: #58b0ba;
  --btn-three: #6c93aa;
  --btn-four-logos-icons: #7daac4;
  --btn-four-logos-icons-faded: #7daac479;
  --btn-color-drk: #18253b;
  --btn-color-light: #2b4268;
  --box-shadow-main: 0px 5px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 4px 7px rgba(0, 0, 0, 0.34);
}

:root h1 {
  font-size: 10rem;
  color: var(--text-primary);
  line-height: .9;
  font-weight: 400;
}

:root h2 {
  font-size: 7rem;
  color: var(--text-primary);
}

:root h3 {
  font-size: 2.5rem;
  color: var(--text-secondary);
  font-weight: 200;
  font-style: italic;
  opacity: .7;
}

:root h4 {
  font-size: 1.5rem;
}

:root h5 {
  font-size: 1.5rem;
  opacity: .3;
  font-weight: 200;
}

:root h6 {
  font-size: 1rem;
}

:root p {
  font-size: 1rem;
}

:root .project-title {
  font-size: 2rem;
  font-weight: 500;
}

:root a {
  font-size: 1.5rem;
  color: var(--text-primary);
  -webkit-transition: all 3ms ease-in-out;
  transition: all 3ms ease-in-out;
}

:root a:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  cursor: pointer;
}

:root i {
  font-size: 1.5rem;
  opacity: .25;
}

:root .buttons-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

:root .btn {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 2em;
  padding: 1rem;
  border: none;
  background-color: var(--btn-one);
  color: black;
  position: relative;
  -webkit-transition: all 4ms;
  transition: all 4ms;
  -webkit-box-shadow: 8px 10px 10px 3px rgba(0, 0, 0, 0.481);
          box-shadow: 8px 10px 10px 3px rgba(0, 0, 0, 0.481);
}

:root .btn:hover {
  -webkit-transform: translateY(-5%) translateX(-3%);
          transform: translateY(-5%) translateX(-3%);
  -webkit-box-shadow: 0 0 50px #006c80;
          box-shadow: 0 0 50px #006c80;
  cursor: pointer;
}

:root .hero-btn {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 2em;
  padding: .9rem;
  border: 0.2rem solid var(--btn-one);
  background-color: transparent;
  color: var(--text-secondary);
}

:root .hero-btn:hover {
  cursor: pointer;
}

:root .scroll-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 4ms;
  transition: all 4ms;
}

:root .scroll-icon:hover {
  cursor: pointer;
}

:root .scroll-icon:hover h5 {
  -webkit-transform: translateY(-1.5%);
          transform: translateY(-1.5%);
}

:root .scroll-icon:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

:root .contact-items {
  font-weight: 300;
}

:root .contact-items h4 {
  font-weight: 100;
}

:root .contact-items h4 a {
  font-weight: 300;
}

:root .contact-info {
  font-size: 2rem;
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
}

:root .input-info {
  font-family: var(--ff);
  font-size: 1.25rem;
  text-transform: lowercase;
  width: 14vw;
  border-radius: .5rem;
  background-color: #d4d4d4;
  color: var(--primary-clr2);
  padding: .5rem;
  margin-right: 1vw;
  margin-bottom: 1vh;
}

:root .input-message {
  font-family: var(--ff);
  font-size: 1.25rem;
  text-transform: lowercase;
  width: 30vw;
  border-radius: .5rem;
  background-color: #d4d4d4;
  color: var(--primary-clr2);
  padding: .5rem;
}

:root .contact-btns {
  display: none;
}

:root .ql {
  font-weight: 600;
}

:root .ql .ql-one {
  color: rgba(0, 0, 0, 0.4);
}

:root .ql .ql-two {
  color: rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=projects.css.map */